/* 添加样式适应各屏幕大小 */
@media (min-width: 1200px) {
  /* .img-second-right {
    width: 100%;
    height: 360px;
  } */

  .page-icon-xinya {
    margin-left: 10%
  }

  .page-nav-xinya {
    margin-right: 10%
  }

  .carousel-caption {
    bottom: 35%;
  }

  .text-xinya {
    margin-left: 30%;
    text-align: left;
    font-size: 42px;
    font-weight: 400;
    margin-top: 18px;
  }

  .lead-xinya {
    margin-left: 30%;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
  }

  #ent-introduce {
    transform: translateX(-30%) translateY(90%);
    padding: 0px 8%;
    width: 160%;
  }

  /* .text-xinya-1 {
    margin-left: 25%;
    text-align: left;
    font-size: 42px;
    font-weight: 400;
    margin-top: 18px;
  }

  .lead-xinya-1 {
    margin-left: 31%;
    text-align: left;
    padding-left: 10%;
    font-size: 18px;
    line-height: 40px;
  } */
  /* 
  .carousel-caption-xinya {
    position: absolute;
    z-index: 10;
    color: #fff;
    margin: 0px;
  } */


  .introduction-content {
    font-size: 14px;
    line-height: 14px;
  }

  .introduction-content2 {
    font-size: 14px;
    line-height: 14px;
  }

  .introduction-content3 {
      font-size: 24px;
      padding-top: 5px;
      line-height: 66px;
  }
}

/* only small desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  #ent-introduce {
      transform: translateX(-30%) translateY(85%);
      padding-left: 5%;
      width: 160%;
  }
/* 
  .img-second-right {
    width: 100%;
    height: 360px;
  } */

  #main-slide .carousel-caption {
    top: 32%;
  }

  .carousel-indicators {
    font-size: 14px;
  }

  #main-slide .carousel-item .carousel-caption .heading {
    font-size: 20px;
    margin-top: 5px;
  }

  #main-slide .carousel-item .carousel-caption p {
    font-size: 13px;
  }

  #hero-area .contents .head-title {
    font-size: 40px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 10px;
  }

  .counter-section .counter p {
    font-size: 14px;
  }

  .schedule .schedule-tab-title .nav-tabs .nav-link {
    width: 210px;
  }

  #pricing .price-block-wrapper .pricing-list {
    padding: 10px 35px 10px 45px;
  }

  #sponsors .spnsors-logo img {
    width: 80%;
  }

  .text-xinya {
    margin-left: 20%;
    text-align: left;
    font-size: 36px;
    font-weight: 500;
    margin-top: 18px;
  }

  .lead-xinya {
    margin-left: 20%;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    margin-top: 25px;
  }

  .carousel-caption {
    bottom: 40%;
  }

  /* .text-xinya-1 {
    margin-left: 26%;
    text-align: left;
    font-size: 36px;
    font-weight: 400;
    margin-top: 18px;
  }

  .lead-xinya-1 {
    margin-left: 30%;
    text-align: left;
    padding-left: 10%;
    font-size: 16px;
    line-height: 35px;
  } */

  /* .carousel-caption-xinya {
    left: 2%;
    position: absolute;
    right: 0%;
    bottom: 66%;
    z-index: 10;
    padding-top: 26px;
    padding-bottom: 0px;
    color: #fff;
    margin: 0px;
  } */

  .introduction-content {
    font-size: 14px;
    line-height: 14px;

  }

  .introduction-content2 {
    font-size: 14px;
    line-height: 14px;
    padding-right: 2%;
  }

  .introduction-content3 {
    font-size: 26px;
    line-height: 66px;
  }
}

/* tablets */
@media (max-width: 991px) {
  #ent-introduce {
    transform: translateX(-30%) translateY(50%);
    padding-left: 5%;
  }

  .introduction-content {
    font-size: 14px;
    line-height: 14px;

  }

  .introduction-content2 {
    font-size: 10px;
    padding-right: 0%;
  }

  .introduction-content3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 45px;
  }

  /* .img-second-right {
    width: 100%;
    height: 360px;
  } */

  #main-slide .carousel-caption {
    top: 32%;
  }

  #main-slide .carousel-item .carousel-caption .heading {
    font-size: 20px;
  }

  #main-slide .carousel-item .carousel-caption p {
    font-size: 13px;
  }

  .page-title-section {
    padding: 40px 0;
  }

  .section-titile-bg {
    display: none;
  }

  .section-title {
    position: relative;
    margin-bottom: 10px;
  }

  .about-item {
    margin-bottom: 30px;
  }

  .accordion .header-title {
    font-size: 12px;
  }

  .schedule .schedule-tab-title .nav-tabs .nav-link {
    width: 150px;
  }

  .schedule .card-header h4 {
    font-size: 14px;
  }

  #pricing .price-block-wrapper .pricing-list {
    padding: 10px 35px 10px 45px;
  }

  #sponsors .spnsors-logo img {
    width: 80%;
  }

  .padding-none:nth-child(1) {
    border-left: none;
  }

  .padding-none:nth-child(3) {
    border-left: none;
  }

  .padding-none:nth-child(4) {
    border-bottom: none;
    border-left: 1px solid #ddd;
  }

  .padding-none:nth-child(5) {
    border-bottom: none;
    border-left: none;
  }

  .padding-none:nth-child(6) {
    border-top: 1px solid #ddd;
    border-bottom: none;
  }

  .footer-area h3 {
    margin-top: 30px;
  }

  .text-xinya {
    margin-left: 13%;
    text-align: left;
    font-size: 30px;
    font-weight: 500;
    margin-top: 18px;
  }

  .lead-xinya {
    margin-left: 13%;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    margin-top: 25px;
  }

  .carousel-caption {
    bottom: 40%;
  }

  /* .text-xinya-1 {
    margin-left: 26%;
    text-align: left;
    font-size: 36px;
    font-weight: 400;
    margin-top: 18px;
  }

  .lead-xinya-1 {
    margin-left: 30%;
    text-align: left;
    padding-left: 10%;
    font-size: 16px;
    line-height: 35px;
  } */

  /* .carousel-caption-xinya {
    left: 5%;
    position: absolute;
    right: 0%;
    bottom: 66%;
    z-index: 10;
    padding-top: 26px;
    padding-bottom: 0px;
    color: #fff;
    margin: 0px;
  } */

}

/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {
  #ent-introduce {
    transform: translateX(-30%) translateY(50%);
    padding-left: 5%;
  }

  #main-slide .carousel-caption {
    top: 32%;
  }

  #main-slide .carousel-item .carousel-caption .heading {
    font-size: 20px;
  }

  #main-slide .carousel-item .carousel-caption p {
    font-size: 13px;
  }

  .countdown-timer .heading-count h2 {
    font-size: 25px;
  }

  .schedule .schedule-tab-title .nav-tabs .nav-link {
    width: 150px;
  }

  .schedule .card-header h4 {
    font-size: 14px;
  }

  #pricing .price-block-wrapper .pricing-list {
    padding: 10px 35px 10px 60px;
  }

  .about-item {
    margin-bottom: 30px;
  }

  .accordion .header-title {
    font-size: 12px;
  }

  #pricing .price-block-wrapper .pricing-list {
    padding: 10px 60px 10px 45px;
  }

  #sponsors .spnsors-logo {
    padding: 30px;
  }

  .padding-none:nth-child(1) {
    border-left: none;
  }

  .padding-none:nth-child(3) {
    border-left: none;
  }

  .padding-none:nth-child(4) {
    border-bottom: none;
    border-left: 1px solid #ddd;
  }

  .padding-none:nth-child(5) {
    border-bottom: none;
    border-left: none;
  }

  .padding-none:nth-child(6) {
    border-top: 1px solid #ddd;
    border-bottom: none;
  }

  .footer-area h3 {
    margin-top: 30px;
  }
}

/* mobile or only mobile */
@media (max-width: 767px) {
  .section-title {
    font-size: 22px;
  }

  .section-sub {
    font-size: 16px;
  }

  #main-slide .carousel-caption {
    top: 22%;
  }

  #main-slide .carousel-item .carousel-caption .heading {
    font-size: 14px;
    margin-top: 5px;
  }

  #main-slide .carousel-item .carousel-caption p {
    font-size: 13px;
  }

  #main-slide .carousel-indicators {
    display: none;
  }

  #hero-area .contents {
    padding: 100px 0;
  }

  #hero-area .contents .head-title {
    font-size: 15px;
  }

  #hero-area .contents .btn {
    margin: 25px 3px 0 0;
  }

  .countdown-timer .heading-count {
    padding: 10px;
  }

  .countdown-timer .heading-count h2 {
    font-size: 24px;
  }

  .countdown-timer .heading-count h4 {
    font-size: 12px;
  }

  .schedule .card-body {
    padding: 15px;
  }

  .schedule .schedule-tab-title .nav-tabs .nav-link {
    width: 288px;
  }

  .accordion .header-title {
    font-size: 11px;
  }

  #pricing .price-block-wrapper .pricing-list {
    padding: 10px 30px 10px 40px;
  }

  #sponsors .spnsors-logo {
    margin-bottom: 15px;
  }

  .blog-item .descr h3 a {
    font-size: 18px;
  }

  .subscribe-inner {
    padding: 30px 15px;
  }

  .subscribe-inner .subscribe-title {
    font-size: 18px;
  }

  .subscribe-inner .form-inline {
    width: 100%;
  }

  .subscribe-inner .form-control {
    width: 100%;
  }

  .subscribe-inner .sub-btn {
    margin: 20px auto;
    text-align: center;
    position: inherit;
  }

  .container-form .form-wrapper {
    padding: 20px;
  }

  .contact-item {
    margin-bottom: 40px;
  }

  .thumb-left img {
    width: 60%;
  }

  #sponsors .spnsors-logo img {
    width: 80%;
  }

  .footer-area h3 {
    margin-top: 30px;
  }

  .padding-none:nth-child(1) {
    border-bottom: 1px solid #ddd;
  }

  .padding-none:nth-child(4) {
    border-bottom: 1px solid #ddd;
  }

  .padding-none:nth-child(5) {
    border-bottom: 1px solid #ddd;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  #main-slide .carousel-item .carousel-caption .heading {
    letter-spacing: 0;
  }

  #main-slide .carousel-item .carousel-caption p {
    font-size: 14px;
  }

  #main-slide .carousel-caption .btn {
    margin: 0;
  }

  #main-slide .carousel-indicators {
    display: none;
  }

  #about .title-sub {
    font-size: 24px;
  }

  .contact-map .container-form {
    width: 350px;
  }

  .newsletter-wrapper .sub-btn {
    padding: 11px 20px;
  }

  .btn {
    padding: 5px 7px;
    font-size: 13px;
  }
}