/* 首页图片轮播 */
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
/* 重写样式 图片轮播  */
.carousel-control-next-icon,.carousel-control-prev-icon{
  width: 20%;
  height:20%;
  background-image: none;
}
  .carousel-control-next-icon:hover{
    background-image: url(../img/ic_down.svg) ;
  }

  .carousel-control-prev-icon:hover{
    background-image: url(../img/ic_up.svg) ; 
  }
/* nav 样式修改 */
  .carousel-caption {
    position: absolute;
    right: 0%;
    bottom: 35%;
    left: 30%;
    z-index: 10;
    padding-top: 27px;
    padding-bottom: 20px;
    color: #fff;
    margin: 2% 0px;
}

/* 字体样式修改 */
#navbarResponsive>ul>li>a{
  font-size:14px 
}
#navbarResponsive>button{
  width: 80px;
  height: 32px;
  border-radius: 4px;
  background-color: #439df7;
  font-size: 14px;
  padding: 0px;
}

#navbarResponsive>button:hover{
  opacity:0.8;
}

.text-xinya{
    margin-left: 25%;
    text-align: left;
    font-size: 42px;
    font-weight: 500;
    margin-top: 18px;
}

.lead-xinya{
  margin-left: 25%;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  margin-top: 30px;
}

.navbar-xinya>ul>li{
  width: 100px;
}



/* 网站版权css */
#foot-xinya{
  position: absolute;
  color: white;
  bottom: 2%;
  text-align: center;
  width: 100%;
  font-size: 12px;
  opacity: 0.7;
}

.btn-xinya {
    color: #fff;
    background-color: #439df7;
    border-color:#439df7;
}

#dropdown-xinya>.dropdown-item {
    text-align: center
}

#nav-xinya>.container{
  max-width: 80%;
  margin-top: 20px;  
}




.introduction-title{
  font-family:PingFangSC-Medium;
font-size:32px;
color:#333333;
line-height:32px;
text-align:center;
margin:60px 0 28px 0;
}
.introduction-content{
  font-family:PingFangSC-Regular;
  font-size:14px;
  color:#333333;
  text-align:center;
  line-height:14px;
}
.introduction-content2{
  font-family:PingFangSC-Regular;
  font-size:14px;
  color:#333333;
  text-align:left;
  line-height:14px;
}
.introduction-content3{
  font-family:PingFangSC-Medium;
font-size:32px;
color:#333333;
line-height:32px;
text-align:left;
}
.introduction-mt-30{
  margin-bottom: 30px;
}
.introduction-img{
  margin: 60px 0 30px 0;
  /* text-align: center; */
}
.introduction-center{
  text-align: center;
}
/*张晨*/ 
.introduction-left{
display: flex;
/* justify-content: center; */
align-items: center; 
}
.introduction-right{
  text-align: left;
}
.ail-style{
font-size: 18px
}
.footer-font{
  font-family:PingFangSC-Regular;
font-size:14px;
color:#999999;
text-align:left;
line-height:14px;
}
.footter-font-title{
  font-family:PingFangSC-Medium;
font-size:16px;
color:#333333;
text-align:left;
line-height:16px;
}
.footer-mt-14{
  margin-top:14px;
}
.footer-mt-16{
  margin-top:16px;
}
.footer-mt-36{
  margin-top:36px;
}
.flex-content{
  flex:1;
  text-align: center;
  font-family:PingFangSC-Regular;
font-size:14px;
line-height:80px;
}
.content-active{
  background: #439df7;
  color:#ffffff;
}
.content-unactive{
  color:#333333;
}

.text-black{
  color:#333333 !important;
}
.text-black:hover{
  color:#333333!important;
}
.text-black:visited{
  color:#333333!important;
}
.nav-font-style{
  font-family:PingFangSC-Medium;
font-size:36px;
color:#ffffff;
line-height:36px;

width:100%;
}
.nav-font-style2{
  font-family:PingFangSC-Regular;
font-size:16px;
color:#ffffff;
line-height:16px;
margin-top:20px;
}
.img-bg-style{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.no-padding{
  padding: 0!important;
} 
.grayscale {
  -webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%);
filter: gray; /* IE 6-9 */
}
.no-a{
  text-decoration:none;
  color:#333333;
} 
.nav-link{
  font-size:14px;
  width: auto;
}
.nav-item{
 width:auto;
}