/* 首页图片轮播 */
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .carousel-control-next-icon{
    width: 20%;
    height:20%;
    background-image: url(../img/ic_down.svg) ;
  }

  .carousel-control-prev-icon{
    width: 20%;
    height:20%;
    background-image: url(../img/ic_up.svg) ; 
  }

 