/* 首页图片轮播 */
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
/* 重写样式 图片轮播  */
  .carousel-control-next-icon{
    width: 20%;
    height:20%;
    background-image: url(../img/ic_down.svg) ;
  }

  .carousel-control-prev-icon{
    width: 20%;
    height:20%;
    background-image: url(../img/ic_up.svg) ; 
  }
/* nav 样式修改 */
  .carousel-caption {
    position: absolute;
    right: 0%;
    bottom: 13%;
    left: 35%;
    z-index: 10;
    padding-top: 27px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

#navbarResponsive>ul>li{
    width:8rem
}
 

.btn-xinya {
    color: #fff;
    background-color: #439df7;
    border-color:#439df7;
}